@import 'custom';
@import '~bootstrap/scss/bootstrap';
@import 'mixins';

html {
  max-height: 100%;
}

.container-fluid:first-child {
  min-height: 100vh;
  height: 100% !important;
}

.mt-lg-n5 {
  @include addBreakPont('md') {
    margin-top: -250px !important;
  }
}

.bg-dark-1 {
  background-color: #2c303d;
}

.bg-dark-2 {
  background-color: #222531;
}

.bg-dark-3 {
  background-color: #262936;
}

.bg-md-secondary {
  @include addBreakPont('md') {
    background-color: #313544 !important;
  }
}

.bg-md-dark-2 {
  @include addBreakPont('md') {
    background-color: #222531 !important;
  }
}

.bg-md-dark-3 {
  @include addBreakPont('md') {
    background-color: #262936 !important;
  }
}

.bg-md-dark-1 {
  @include addBreakPont('md') {
    background-color: #2c303d !important;
  }
}

.bg-image {
  background: url('../img/banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
}

#condition {
  color: #bbb;
}

.card-header {
  font-size: 1.5rem;
  @include addBreakPont('md') {
    font-size: 1rem;
  }
}

.btn-group .btn {
  box-shadow: none !important;
}

#findBtn {
  // set it to min width to keep width
  //when showing smaller loading icon
  min-width: 57.13px;
}
// the loading animation while the page loads
//for the first time
#displayWhileLoadingPage {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateY(-50%), translateY(-50%);
}
.scale-in-center {
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
